{% extends 'base.html.twig' %}

{% block title %}Exception index{% endblock %}

{% block body %}
    <h1>Exception index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exception in exceptions %}
            <tr>
                <td>{{ exception.id }}</td>
                <td>{{ exception.name }}</td>
                <td>
                    <a href="{{ path('app_exception_show', {'id': exception.id}) }}">show</a>
                    <a href="{{ path('app_exception_edit', {'id': exception.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_exception_new') }}">Create new</a>
{% endblock %}
