<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="Olwen Wempe">
		<title>
			{% block title %}Welcome
			{% endblock %}
		</title>
		<link
		rel="icon" href="../images/icon_celsius.png">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="container-fluid">
		{% include "_partials/_header.html.twig" %}

		<main class="container section mt-5">
			{% for message in app.session.flashBag.get('info') %}
				<div class="mx-auto w-50 alert alert-info" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.session.flashBag.get('error') %}
				<div class="mx-auto w-50 alert alert-danger" role="alert">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.session.flashBag.get('success') %}
				<div class="mx-auto w-50 alert alert-success" role="alert">
					{{ message }}
				</div>
			{% endfor %}

			{% block main %}{% endblock %}
		</main>

		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
