{% extends 'base.html.twig' %}

{% block title %}
	{{ donneur_d_ordre.name }}
{% endblock %}

{% block main %}
	<section>
		<h1>{{ donneur_d_ordre.name }}</h1>

		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ donneur_d_ordre.id }}</td>
				</tr>
				<tr>
					<th>Raison Sociale</th>
					<td>{{ donneur_d_ordre.name }}</td>
				</tr>
			</tbody>
		</table>

		<a href="{{ path('app_donneur_d_ordre_index') }}">retour à la liste</a>

		<a href="{{ path('app_donneur_d_ordre_edit', {'id': donneur_d_ordre.id}) }}">editer</a>

		{{ include('donneur_d_ordre/_delete_form.html.twig') }}
	</section>
{% endblock %}
